@media screen and (max-width: 500px) {
    div.button{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    h2#balance{
        padding-top: 50px;
        padding-bottom: 80px;
        color: yellowgreen;
        font-size: 40px;
    }
}